<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include('header', {title: title}) %>
        <div class="main">
            <ul>
                <% for(let i=0; i < products.length; i++) { %>
                    <li class="productCard">
                        <h3 class="productCardName">
                            <%= products[i].name %>
                        </h3>
                        <p class="productCardBrand"><%= products[i].brand %></p>
                        <p class="productCardPrice"><%= products[i].price %></p>
                        <img src=<%= products[i].image %> alt="" class="productCardImage"> </img>
                    </li>
                    <% } %>
            </ul>
        </div>
        <%- include('footer') %>
</body>

</html>ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 