<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/productstyles.css">
    <script defer type="text/javascript" src="views/deleteHandler.js"></script>
</head>

<body>
    <div class="content">
        <%- include('header', {title: title}) %>
            <div class="main">
                <ul class="productContainer">
                    <% for(let i=0; i < products.length; i++) { %>
                        <li onClick="location.href = `/products/update/<%= products[i].id %>`" class="productCard">
                            <div class="topContent">
                                <h3 class="productCardName">
                                    <%= products[i].name %>
                                </h3>
                                <div class="productContent">
                                    <p class="productCardPrice">$ <%= products[i].price %>
                                    </p>
                                    <p class="productCardBrand">
                                        <%= products[i].brand %>
                                    </p>
                                </div>
                                <img loading="lazy" src=<%=products[i].image %> alt="" class="productCardImage"></img>
                            </div>
                            <a href="/products/delete/product?product=<%= products[i].id%>" class="deleteProduct">Delete</a>
                        </li>
                        <% } %>
                </ul>
            </div>
            <%- include('footer') %>
    </div>
</body>



</html>